<h1>Picturesshow</h1>
<p>Find me in app/views/pictures/show.html.erb</p>



    <img alt= <%= @picture.title%> src=<%= @picture.image_url %>/>


    # add comment

   
<%= button_to "Create Comment", new_comment_path, :method => "get" %>






# image tag for the images
# show the tags for the image as a list

# add comment